/* Global Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
}

.form-element input,
.form-element textarea,
.form-element select {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  margin: 2px 10px;
}

.drag-handle {
  cursor: move;
}

button {
  margin-top: 2px;
  padding: 8px;
}

.drag-handle {
  cursor: move;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.side-title {
  text-align: center;
  padding: 8px 0px;
}

.content {
  display: flex;
  height: 90vh;
}

.sidebar {
  padding: 20px;
  background-color: #f2efef;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#form-container {
  width: 75%;
  padding: 20px;
  background-color: #e7e1e1;
}

#form-builder {
  height: 100%;
  background-color: #f6f4f4;
  overflow-y: auto;
}

#save-form {
  font-size: medium;
  height: 35px;
  margin: 10px 1px;
}

/* Media Queries */

/* For tablets and medium screens (width <= 1024px) */
@media (max-width: 1024px) {
  .navbar {
    padding: 0px 5px;
  }

  .content {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
  }

  #form-container {
    width: 100%;
    padding: 10px;
  }

  #save-form {
    font-size: medium;
    height: 30px;
    margin: 5px;
  }

  button {
    padding: 6px;
  }
}

/* For mobile screens (width <= 768px) */
@media (max-width: 768px) {
  .navbar {
    justify-content: center;
    padding: 0px 5px;
  }

  .content {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    padding: 5px;
  }

  .side-title {
    font-size: 16px;
  }

  #form-container {
    width: 100%;
    padding: 5px;
  }

  .form-element {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-element input,
  .form-element textarea,
  .form-element select {
    width: 100%;
    margin: 5px 0;
  }

  #save-form {
    font-size: small;
    height: 30px;
    margin: 5px;
  }

  button {
    padding: 5px;
  }
}

/* For very small mobile screens (width <= 480px) */
@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .content {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    padding: 5px;
  }

  #form-container {
    width: 100%;
    padding: 5px;
  }

  .form-element {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-element input,
  .form-element textarea,
  .form-element select {
    width: 100%;
  }

  #save-form {
    font-size: small;
    height: 30px;
  }

  button {
    padding: 4px;
  }
}